#debug_status {
/* 	comment/uncomment the next line to enable/disable */
	display: none;
	z-index: 999;
	font-family: monospace;
	font-size: 16px;
	color: #0F0;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
}

#slideshow_template {
	display: none;
}

/* normal */
#slideshow_container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
}
/* debug */
/* #slideshow_container {
	border: 4px solid black;
	width: 400px;
	height: 400px;
	margin-left: 400px;
} */

.slideshow_template_instance_wrapper {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
}

/* obs doesn't redraw the browser soruce often enough when a video is playing for whatever reason */
/* so we need to do this */
@keyframes imperceptible_jitter_anim {
	0%   { transform: translateX(0px); }
	100% { transform: translateX(0.001px); }
}
.imperceptible_jitter {
	animation-name: imperceptible_jitter_anim;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#slideshow_controls {
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	/* pointer-events: none; */
}
#slideshow_controls.visible {
	display: unset;
}

#errors_display {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	pointer-events: none;
}
#errors_display_contents {
	pointer-events: auto;
	white-space: pre-wrap;
	font-family: monospace;
	color: #FF0000;
	background-color: #000000;
}
