.credit-text {
	width: fit-content;
	padding-right: 2ch;
	padding-left: 4ch;
	font-size: 20px;
	color: white;
	font-family: cursive;
/* 	ugly text stroke trick, is there a better way to do this? */
	text-shadow: rgb(96, 1, 177) 4px 0px 0px, rgb(96, 1, 177) 3.87565px 0.989616px 0px, rgb(96, 1, 177) 3.51033px 1.9177px 0px, rgb(96, 1, 177) 2.92676px 2.72656px 0px, rgb(96, 1, 177) 2.16121px 3.36588px 0px, rgb(96, 1, 177) 1.26129px 3.79594px 0px, rgb(96, 1, 177) 0.282949px 3.98998px 0px, rgb(96, 1, 177) -0.712984px 3.93594px 0px, rgb(96, 1, 177) -1.66459px 3.63719px 0px, rgb(96, 1, 177) -2.51269px 3.11229px 0px, rgb(96, 1, 177) -3.20457px 2.39389px 0px, rgb(96, 1, 177) -3.69721px 1.52664px 0px, rgb(96, 1, 177) -3.95997px 0.56448px 0px, rgb(96, 1, 177) -3.97652px -0.432781px 0px, rgb(96, 1, 177) -3.74583px -1.40313px 0px, rgb(96, 1, 177) -3.28224px -2.28625px 0px, rgb(96, 1, 177) -2.61457px -3.02721px 0px, rgb(96, 1, 177) -1.78435px -3.57996px 0px, rgb(96, 1, 177) -0.843183px -3.91012px 0px, rgb(96, 1, 177) 0.150409px -3.99717px 0px, rgb(96, 1, 177) 1.13465px -3.8357px 0px, rgb(96, 1, 177) 2.04834px -3.43574px 0px, rgb(96, 1, 177) 2.83468px -2.82216px 0px, rgb(96, 1, 177) 3.44477px -2.03312px 0px, rgb(96, 1, 177) 3.84068px -1.11766px 0px, rgb(96, 1, 177) 3.9978px -0.132717px 0px;
}

.media-container>* {
	max-width: 200px;
	max-height: 200px;
}

.credit-text, .media-container {
	display: inline-block;
	bottom: 0px;
}

.content-outer {
	position: relative;
	width: 100%;
	height: 100%;
}
.content-inner {
	position: absolute;
	bottom: 0px;
}

@keyframes slide_in_anim {
	/* -600px here is kinda arbitrary, ideally it would be dynamic based on how wide the thing we're animating is */
	/* for now just set it to something high (or rather low since it's negative) enough it can push everything off screen */
	0%   { transform: translateX(var(--negative-width)); }
	100% { transform: translateX(0px); }
}
.slideshow_intro .content-inner {
	animation-name: slide_in_anim;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}

@keyframes slide_out_anim {
	0%   { transform: translateX(0px); }
	80%  { transform: translateX(var(--negative-width)); }
	100% { transform: translateX(var(--negative-width)); }
}
.slideshow_outro .content-inner {
	animation-name: slide_out_anim;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes idle_anim {
	0%   {}
	100% {}
}
.slideshow_idle .content-inner {
	animation-name: idle_anim;
	animation-timing-function: linear;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}